#root {
  margin: 0 auto;
  padding: 2rem;
}

.header{
  text-align: center;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
}

.btn-square{
  border-radius: 0 !important;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}
.dark-theme .image-container img {
  border: 3px solid #fff; 
}
.light-theme .image-container img {
  border: 3px solid #333; 
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #333;
}